<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.umn.felixferdinand_00000035927_if570_bl_uts">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FelixFerdinand_00000035927_IF570_BL_UTS">
        <activity
            android:name=".SFXPlayer"
            android:exported="true"
            android:parentActivityName=".LibraryActivity"/>
        <activity
            android:name=".LibraryActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="Login Page"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.ac.umn.felixferdinand_00000035927_if570_bl_uts.MainActivity" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:label="Profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.ac.umn.felixferdinand_00000035927_if570_bl_uts.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>